<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Raleway:300,400" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
    <link rel="stylesheet" href="/styles/home.css">
    <title>Trail Legs</title>
</head>
<body>
    <section class="header-slogan">
    <header>
        <h3> Trail Legs </h3>
        <!-- navigation and app name -->
        <div class="nav">
            <i class="fa fa-bars"></i>
            <div class="nav_list">
                <a href="/" class="nav_link"><i class="fas fa-home"></i> Home</a>
                <a href="/cities" class="nav_link"><i class="fas fa-globe-americas"></i> Cities</a>
            </div>
        </div>
    </header>
        <!-- trail legs slogan -->
        <div class="slogan">
            <h1>Your favorite Trails</h1>
            <h3>in one place</h3>
        </div>
    </section>
    <main>
        <!-- dropdown menu to select citiy -->
        <section class="select_container">
        <div class="select">
            <h2 class="select_dropdown">Find Your City <i class="fa fa-angle-down"></i></h2>
            <div class="select_list">
                    <% cities.forEach(city => { %>
                            <a href="/cities/<%=city._id%>" class="select_city"><%=city.name%></a>
                    <% }) %>
            </div>
        </div>
        </section>

        <!-- about the app -->
        <section class="about_container">
        <div class="about">
        <p>
            <% if (user) { %>
                Welcome, <%=user.username%>
                <a href="/profile">Profile</a>
                <form action="/logout?_method=DELETE" method="POST">
                    <input type="submit" value="Logout">
                </form>
                
                <% } else { %>
                    <a href="/register">Register</a>
                    <a href="/login">Login</a>
                <% } %>
            </p>
            
        <h3>About Us</h4>
        <article>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat molestiae aliquam deserunt tenetur sapiente odit voluptatem itaque aliquid placeat a harum esse sit laborum possimus consequuntur, dicta est at rem.
        </article>
        </div>
        </section>
    </main>
    <footer>
        <p>Copyright</p>
    </footer>
</body>
</html>