<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Raleway:300,400" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="styles/home.css">
    <title>Trail Legs</title>
</head>
<body>
    <header>
        <!-- navigation and app name -->
        <section class="nav_name">
            <h3> Trail Legs </h3>
            <i class="fa fa-bars"></i>
            <nav>
                <a href="/">Home</a>
                <a href="/cities">Cities</a>
            </nav>
        </section>

        <!-- trail legs slogan -->
        <section class="slogan">
            <h1>Your favorite Trails</h1>
            <h3>in one place</h3>
        </section>

    </header>
    <main>
        <!-- dropdown menu to select citiy -->
        <section class="select-city">
            <h2>Find Your City</h2>
            <select name="select_city">
                <% cities.forEach(city => { %>
                    <option value="<%=city._id%>"><%=city.name%></option>
                <% }) %>
                
            </select>
        </section>

        <!-- about the app -->
        <h4>About Us</h4>
        <article>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat molestiae aliquam deserunt tenetur sapiente odit voluptatem itaque aliquid placeat a harum esse sit laborum possimus consequuntur, dicta est at rem.
        </article>
    </main>
    <footer>
        <p>Copyright</p>
    </footer>
</body>
</html>