<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>All Cities</title>
</head>
<body>
    <h1>All Cities</h1>
    <main>
        <h2>List of Cities</h2>
        <ul>
          <% cities.forEach(city => { %>
              <li>
                <a href="/cites/<%= city._id %>"><%= city.name %></a>
              </li>
          <% }); %>
        </ul>
      </main>
</body>
</html>