<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Raleway:300,400" rel="stylesheet">
    <link rel="stylesheet" href="styles/home.css">
    <title>All Cities</title>
</head>
<body>
  <header>

    <!-- navigation and app name -->
    <section class="nav_name">
        <h3> Trail Legs </h3>
        <i class="fa fa-bars"></i>
        <nav>
            <a href="/">Home</a>
            <a href="/cities">Cities</a>
        </nav>
    </section>
  </header>
  <main>
    <h2>List of Cities</h2>

    <!-- Loop through cities -->
    <ul>
      <% cities.forEach(city => { %>
          <li>
            <a href="/cities/<%= city._id %>"><%= city.name %></a>
          </li>
      <% }); %>
    </ul>
  </main>
  <footer>
      <p>Copyright</p>
  </footer>
</body>
</html>