<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Raleway:300,400" rel="stylesheet">
    <link rel="stylesheet" href="/styles/cities-index.css">
    <title>All Cities</title>
</head>
<body>
  <header>
    <h3> Trail Legs </h3>
    <!-- navigation and app name -->
    <div class="nav">
        <i class="fa fa-bars"></i>
        <div class="nav_list">
            <a href="/" class="nav_link">Home</a>
            <a href="/cities" class="nav_link">Cities</a>
        </div>
      </div>
  </header>
  <main>
    <!-- Loop through cities -->
    <div class="cities">
      <% cities.forEach(city => { %>
        <div class="cities_list">
          <a 
            style="background-image: url(<%=city.image%>);"
            href="/cities/<%= city._id %>" 
            class="cities_square">
            <%= city.name %>
          </a>
        </div>
      <% }); %>
    </div>
    <!-- second loop to add images -->
  </main>
  <footer>
      <p>Copyright</p>
  </footer>
</body>
</html>