<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Raleway:300,400" rel="stylesheet">
    <link rel="stylesheet" href="/styles/cities-index.css">
    <title>All Cities</title>
</head>
<body>
  <header>
    <h3> Trail Legs </h3>
    <!-- navigation and app name -->
    <div class="nav">
        <i class="fa fa-bars"></i>
        <div class="nav_list">
            <a href="/" class="nav_link"><i class="fas fa-home"></i> Home</a>
            <a href="/cities" class="nav_link"><i class="fas fa-globe-americas"></i> Cities</a>
        </div>
      </div>
      <div class="user_login">
        <% if (user) { %>
            <div class="user_nav">
                <a href="/profile" class="profile">Profile</a>
                
                <form action="/logout?_method=DELETE" method="POST" class="logout">
                    <input type="submit" value="Logout">
                </form>
            </div>
    </div>       
            <% } else { %>
                <div class="user_logout">
                    <div class="user">
                        <a href="/register" class="register">Register</a>
                        <a href="/login" class="login">Login</a>
                    </div>
                </div>
        <% } %>
  </header>
  <main>
    <!-- Loop through cities -->
    <div class="cities">
      <% cities.forEach(city => { %>
        <div class="cities_list">
          <a 
            style="background-image: url(<%=city.image%>);"
            href="/cities/<%= city._id %>" 
            class="cities_square">
            <%= city.name %>
          </a>
        </div>
      <% }); %>
    </div>
    <!-- second loop to add images -->
  </main>
  <footer>
    <p class="social">
      <p class="copyright">Copyright</p>
      <p class="social_icons"><a href="#"><i class="fab fa-instagram"></i></a>  <a href=""><i class="fab fa-facebook-f"></i></a> <a href=""><i class="fab fa-twitter"></i></a></p>
    </p>
</footer>
</body>
</html>