<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>City Name</title>
</head>
<body>
    <header>

        <!-- navigation and app name -->
        <section class="nav_name">
            <h3> Trail Legs </h3>
            <i class="fa fa-bars"></i>
            <nav>
                <a href="/">Home</a>
                <a href="/cities">Cities</a>
            </nav>
        </section>
    </header>
    <main>
        
        <!-- TODO add city name -->
        <!-- TODO add trails list w/ trail name and location -->

        <section>
            <h2>Trails</h2>
            <% city.trails.forEach(trail => { %> 
                <a href="/trails/<%= trail._id %>"><%= trail.name %></a>
                <% }); %>
            <% if(city.trails.length === 0){ %>
                <p>No trails available.</p>
                <% }; %>
        </section>

        <!-- create new trail icon -->
        <form action="/trails/<%=city._id%>/new" method="get">
            <button>
                <i class="fa fa-plus-circle"></i>
            </button>
            </a>
        </form>
        
    </main>
    <footer>
        <p>Copyright</p>
    </footer>
</body>
</html>