<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>View Trail</title>
</head>
<body>
    <header>

        <!-- navigation and app name -->
        <section class="nav_name">
            <h3> Trail Legs </h3>
            <i class="fa fa-bars"></i>
            <nav>
                <a href="/">Home</a>
                <a href="/cities">Cities</a>
                <!-- TODO add navigation to city -->
            </nav>
        </section>
    </header>
    <main>

        <!-- TODO output trail name -->
        <!-- TODO output trail location -->
        <!-- TODO output trail city -->

        <section class="icons">
        <!-- delete icon -->
        <form action="/trails/<%=trail._id%>?_method=DELETE" method="POST">
        <button><i class="fa fa-trash"></i></button>
        </form>
        <!-- edit icon -->
        <i class="fa fas-pen"></i>
        <a href="/trails/<%=trail._id%>/edit">Edit</a>

        </section>
    </main>
    <footer>
        <p>Copyright</p>
    </footer>
</body>
</html>