* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /*  colors  */
        --white: #f1f1f1;
        --tan: #e0e0db;
        --black: #1f1f1f;
        --green: #404943;
        --light-green: #5c6860;
    /* font  */
        --large-font: 'Raleway', Sans-Serif;
        --small-font: 'Open Sans', Sans-Serif;
}

header {
    font-Family: var(--large-font);
    font-Size: 20px;
    padding: 15px;
    padding-bottom: 50px;
    background-image: url(/header/cities-index.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 200px;
    color: var(--white);
}

main {
    Font-Family: var(--small-font);
    Font-Size: 15px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 100px;
    padding-bottom: 200px;
    background-color: var(--tan);
}

h2{
    padding-bottom: 30px;
    font-size: 35px;
    color: var(--green);
}

footer{
    background-color: var(--green);
    padding: 20px;
    color: var(--white);
    position: relative;
    display: inline-flex;
    justify-content: flex-end;
    width: 100%;
}

/* navigation menu */
.nav {
    overflow: hidden;
    width: 25px;
    margin: 5px;
}

.nav_list {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);    
}

.nav_link {
    float: none;
    color: var(--green);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    font-size: 14px;  
}

.nav_link:hover {
    background-color: lightgray;
}

.nav:hover .nav_list {
    display: block;
}

/* user auth navigation */
.user_login {
    float: right;
    font-size: 15px;
    margin-top: 170px;
    margin-right: 25px;
    font-weight: 900;
}

.user_logout {
    float: right;
    font-size: 15px;
    margin-top: 3px;
    margin-right: 25px;
    font-weight: 900;
}

.user_nav {
    float: right;
    display: inline-flex;
}

.profile {
    margin-left: 400px;
    transition: .3s;
}

.profile:hover {
    color: var(--light-green);
}

.logout {
    font-size: 15px;
    margin-left: 10px;
}

.user_nav input:hover {
    color: var(--light-green);
    cursor: pointer;
}

.user_nav a {
    text-decoration: none;
    color: var(--white);
}

.logout input{
    font-family: var(--large-font);
    background-color: rgba(0,0,0,0);
    text-decoration: none;
    border: none;
    color: var(--white);
    font-size: 15px;
    transition: .3s;
    outline: none;
}

.register {
    margin-right: 15px;
    transition: .3s;
}

.register:hover {
    color: var(--light-green);
}

.login {
    transition: .3s;
}

.login:hover {
    color: var(--light-green);
}

.user a {
    text-decoration: none;
    color: var(--white);
}

.cities{
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}

.cities_list{
    margin: 20px;
    position: static;
}

.cities_list a:hover {
    transform: scale(1.1);
}

.cities_list a{
    text-decoration: none;
    color: var(--white);
    font-weight: 900;
    transition: .3s;
}

.cities_square {
    text-align: center;
    font-size: 25px;
    width: 200px;
    height: 200px;
    padding: 20px;
    flex-wrap: wrap;
    padding-top: 80px;
    display: inline-block;
    background-size: cover;
};

/* footer */
.social {
    font-size: 20px;
    margin: 5px;
    text-align: center;
}

.copyright {
    text-align: center;
    margin-right: 560px;
}

.social_icons {
    text-align: right;
    font-size: 20px;
}

.fa-instagram {
    margin-right: 10px;
    transition: .3s;
}

.fa-facebook-f {
    margin-right: 10px;
    transition: .3s;
}

.fa-twitter{
    transition: .3s;
    margin-right: 20px;
}

a {
    text-decoration: none;
    color: var(--white);
}

i.fa-instagram:hover {
    color: var(--light-green);
}

i.fa-facebook-f:hover {
    color: var(--light-green);
}

i.fa-twitter:hover {
    color: var(--light-green);
}