:root {
    /*  colors  */
        --white: #f1f1f1;
        --tan: #e0e0db;
        --black: #1f1f1f;
        --green: #404943;
    /* font  */
        --large-font: 'Raleway', Sans-Serif;
        --small-font: 'Open Sans', Sans-Serif;
}

