* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /*  colors  */
        --white: #f1f1f1;
        --tan: #e0e0db;
        --black: #1f1f1f;
        --green: #404943;
        --light-green: #5c6860;
    /* font  */
        --large-font: 'Raleway', Sans-Serif;
        --small-font: 'Open Sans', Sans-Serif;
}

header {
    font-Family: var(--large-font);
    font-Size: 20px;
    padding: 15px;
    padding-bottom: 50px;
    background-image: url(/header/trial-edit.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 200px;
    color: var(--white);
}

main {
    Font-Family: var(--small-font);
    Font-Size: 15px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-top: 25px;
    padding-bottom: 25px;
    background-color: var(--tan);
}

h2 {
    padding-bottom: 30px;
    font-size: 35px;
    color: var(--green);
}

footer {
    background-color: var(--green);
    text-align: center;
    padding: 20px;
    color: var(--white);
}

.nav {
    overflow: hidden;
    width: 25px;
    margin: 5px;
}

.nav_list {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);    
}

.nav_link {
    float: none;
    color: var(--green);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    font-size: 14px;  
}

.nav_link:hover {
    background-color: lightgray;
}

.nav:hover .nav_list {
    display: block;
}

.main_content {
    text-align: center;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: var(--green);
    margin: 30px;
    padding: 30px 50px;
    border-radius: 20px;
    Font-Family: var(--small-font);
    color: var(--tan);
}

select {
    padding: 3px;
    margin: 10px;
    border: 2px solid var(--tan);
    border-radius: 3px;
    outline: none;
    margin-bottom: 15px;
    color: var(--green);
}

.input {
    border: none;
    margin: 10px;
    padding: 5px;
    outline: none;
    border-bottom: 2px solid var(--tan);
    background-color: rgba(0,0,0,0);
    color: var(--tan);
    font-size: 14px;
}

button {
    border: none;
    background-color: rgba(0,0,0,0);
    cursor: pointer;
    font-size: 30px;
    color: var(--tan);
    transition: .3s;
    padding: 10px;
    outline: none;
}

button:hover {
    transform: scale(1.3);
}

.user_login {
    float: right;
    font-size: 15px;
    display: inline-flex;
    margin-top: 170px;
    margin-right: 20px;
}

.profile {
    margin-right: 10px;
    text-decoration: none;
    color: var(--white);
    transition: .3s;
    margin-top: 1px;
}

.profile:hover {
    color: var(--light-green);
}

.logout input:hover {
    color: var(--light-green);
    cursor: pointer;
}

.logout input{
    text-decoration: none;
    background-color: #1D1E22;
    border: none;
    color: var(--white);
    font-size: 14px;
    transition: .3s;
    font-family: var(--small-font)
}

.fa-times {
    color: var(--tan);
    transition: .3s;
    font-size: 30px;
    padding: 10px;
}

.fa-times:hover {
    transform: scale(1.3);
}

textarea {
    padding: 3px;
    border: 2px solid var(--tan);
    border-radius: 3px;
    outline: none;
    margin-bottom: 15px;
    resize: none;
    Font-Family: var(--small-font);
    color: var(--green);
} 

p.social {
    float: right;
    font-size: 20px;
}

.copyright {
    margin-top: 8px;
    margin-left: 75px;
}

.social {
    margin: 5px;
    position: relative;
}

.fa-instagram {
    margin-right: 10px;
    transition: .3s;
}

.fa-facebook-f {
    margin-right: 10px;
    transition: .3s;
}

.fa-twitter{
    transition: .3s;
}

a {
    text-decoration: none;
    color: var(--white);
}

i.fa-instagram:hover {
    color: var(--light-green);
}

i.fa-facebook-f:hover {
    color: var(--light-green);
}

i.fa-twitter:hover {
    color: var(--light-green);
}