* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /*  colors  */
        --white: #f1f1f1;
        --tan: #e0e0db;
        --black: #1f1f1f;
        --green: #404943;
    /* font  */
        --large-font: 'Raleway', Sans-Serif;
        --small-font: 'Open Sans', Sans-Serif;
}

body {
    background-color: var(--tan);
    
}

.header-slogan {
    font-Family: 'Raleway', Sans-Serif;
    background-image: url(/header/home.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: var(--white);
    padding-bottom: 150px;
}

header {
    font-Family: 'Raleway', Sans-Serif;
    font-Size: 20px;
    padding: 15px;
    padding-bottom: 50px;
    margin-bottom: 10px;
}

main {
    Font-Family: 'Open Sans', Sans-Serif;
    Font-Size: 15px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.slogan {
    text-align: center;
}

.select_container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.select {
    overflow: hidden;
    width: 175px;
    margin: 50px 0;
    text-align: center;
}

.select_list {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.select_city {
    float: none;
    color: var(--black);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.select_city:hover {
    background-color: lightgray;
}

.select:hover .select_list {
    display: block;
}

.nav {
    overflow: hidden;
    width: 25px;
    
}

.nav_list {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);    
}

.nav_link {
    float: none;
    color: var(--black);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    font-size: 14px;
}

.nav_link:hover {
    background-color: lightgray;
}

.nav:hover .nav_list {
    display: block;
}

.about {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 50px 25px;
}

.about_container {
    background-color: var(--white);
}