* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /*  colors  */
        --white: #f1f1f1;
        --tan: #e0e0db;
        --black: #1f1f1f;
        --green: #404943;
        --light-green: #5c6860;
    /* font  */
        --large-font: 'Raleway', Sans-Serif;
        --small-font: 'Open Sans', Sans-Serif;
}

header {
    font-Family: var(--large-font);
    font-Size: 20px;
    padding: 15px;
    padding-bottom: 50px;
    background-image: url(/header/profile.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 200px;
    color: var(--white);
}

main {
    Font-Family: var(--small-font);
    Font-Size: 15px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 50px;
    padding-bottom: 200px;
    background-color: var(--tan);
    width: 100%;
}

footer{
    background-color: var(--green);
    text-align: center;
    padding: 20px;
    color: var(--white)
}

/* navigation menu */
.nav {
    overflow: hidden;
    width: 25px;
    margin: 5px;
}

.nav_list {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);    
}

.fa-home {
    color: var(--green);
}

.fa-globe-americas {
    color: var(--green);
}

.fa-bars {
    color: var(--white);
}

.nav_link {
    float: none;
    color: var(--green);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    font-size: 14px;
}

.nav_link:hover {
    background-color: lightgray;
}

.nav:hover .nav_list {
    display: block;
}

.trail {
    background-color: var(--white);
    text-align: center;
    padding: 20px 250px;
    margin: 15px;
    font-size: 15px;
    transition: transform .2s linear;
}

a {
    text-decoration: none;
    color: var(--green);
}

h2 {
    color: var(--green);
}

section {
    color: var(--green)
}

.trail:hover{
    transform: scale(1.1);
}

/* footer */
p.social {
    float: right;
    font-size: 20px;
}

.copyright {
    margin-top: 8px;
    margin-left: 60px;
}

.social {
    margin: 5px;
    position: relative;
}

.fa-instagram {
    margin-right: 10px;
    transition: .3s;
}

.fa-facebook-f {
    margin-right: 10px;
    transition: .3s;
}

.fa-twitter{
    transition: .3s;
}

i.fa-instagram {
    text-decoration: none;
    color: var(--white);
}

i.fa-facebook-f {
    text-decoration: none;
    color: var(--white);
}

i.fa-twitter {
    text-decoration: none;
    color: var(--white);
}

i.fa-instagram:hover {
    color: var(--light-green);
}

i.fa-facebook-f:hover {
    color: var(--light-green);
}

i.fa-twitter:hover {
    color: var(--light-green);
}