* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
/*  colors  */
    --white: #f1f1f1;
    --tan: #e0e0db;
    --black: #1f1f1f;
    --green: #404943;
    --light-green: #5c6860;
/* font  */
    --large-font: 'Raleway', Sans-Serif;
    --small-font: 'Open Sans', Sans-Serif;
}

header {
    font-Family: var(--large-font);
    font-Size: 20px;
    padding: 15px;
    padding-bottom: 50px;
    background-image: url(/header/city-show.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 200px;
    color: var(--white);
}

main {
    Font-Family: var(--small-font);
    Font-Size: 15px;
    display: flex;
    flex-direction: column;
    align-items: center; 
    padding: 50px;
    padding-bottom: 200px;
    background-color: var(--tan);
}

footer{
    background-color: var(--green);
    text-align: center;
    padding: 20px;
    color: var(--white)
}

a {
    text-decoration: none;
    color: var(--green);
}

.nav {
    overflow: hidden;
    width: 25px;
    margin: 5px;
}

.nav_list {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);    
}

.nav_link {
    float: none;
    color: var(--green);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    font-size: 14px;
}

.nav_link:hover {
    background-color: lightgray;
}

.nav:hover .nav_list {
    display: block;
}

.trail_header{
    position: relative;
}

/* user auth nav */
.user_login {
    float: right;
    font-size: 15px;
    display: inline-flex;
    margin-top: 170px;
    margin-right: 20px;
}

.profile {
    margin-right: 10px;
    text-decoration: none;
    color: var(--white);
    transition: .3s;
    margin-top: 1px;
}

.profile:hover {
    color: var(--light-green);
}

.logout input:hover {
    color: var(--light-green);
    cursor: pointer;
}

.logout input{
    text-decoration: none;
    font-family: var(--large-font);
    background-color: rgba(0,0,0,0);
    border: none;
    color: var(--white);
    font-size: 14px;
    transition: .3s;
    font-family: var(--small-font)
}

/* main text */
.trail_text{
    position: absolute;
    top: 0;
    left: 0;
    text-shadow: 0 0 11px black;
    color: var(--white);
    padding: 10px;
}

.trail_img{
    z-index: 10;
    height: 200px;
    width: 700px;
    overflow: hidden;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.trail_info {
    text-align: center;
}

.icons{
    float: right;
    display: inline-flex;
}

.description {
    background-color: var(--white);
    color: var(--green);
    padding-top: 20px;
}

.text {
    padding-bottom: 40px;
    width: 700px;
    padding-top: 15px;

}

.creator {
    padding: 15px;
    font-weight: 900;
}

.icons {
    color: var(--green);
    font-size: 20px;
    padding: 10px;
    transition: .3s;
}

button  {
    text-decoration: none;
    border: none;
    font-size: 20px;
    color: var(--green);
    background-color: var(--tan);
    transition: .3s;
}

button:hover {
    color: var(--white);
    cursor: pointer;
}

.icons a:hover {
    color: var(--white);
}

.delete {
    margin-right: 10px;
}

.edit {
    transition: .3s;
}

/* footer */
p.social {
    float: right;
    font-size: 20px;
}

.copyright {
    margin-top: 8px;
    margin-left: 60px;
}

.social {
    margin: 5px;
    position: relative;
}

.fa-instagram {
    margin-right: 10px;
    transition: .3s;
}

.fa-facebook-f {
    margin-right: 10px;
    transition: .3s;
}

.fa-twitter{
    transition: .3s;
}

i.fa-instagram {
    text-decoration: none;
    color: var(--white);
}

i.fa-facebook-f {
    text-decoration: none;
    color: var(--white);
}

i.fa-twitter {
    text-decoration: none;
    color: var(--white);
}

i.fa-instagram:hover {
    color: var(--light-green);
}

i.fa-facebook-f:hover {
    color: var(--light-green);
}

i.fa-twitter:hover {
    color: var(--light-green);
}